###> symfony/framework-bundle ###
/var/
/vendor/
###< symfony/framework-bundle ###
###> symfony/phpunit-bridge ###
.phpunit
/phpunit.xml
###< symfony/phpunit-bridge ###

###> squizlabs/php_codesniffer ###
/.phpcs-cache
###< squizlabs/php_codesniffer ###

###> symfony/web-server-bundle ###
/.web-server-pid
###< symfony/web-server-bundle ###
